# Logs
logs
*.log
npm-debug.log*

# Coverage directory used by tools like istanbul
coverage

# Dependency directories
node_modules

# Optional npm cache directory
.npm
package-lock.json

# Local ENV Variables for development
.env

# build directories
docs
dist
compiled
.awcache
.rpt2_cache
