language: node_js
node_js:
  - '0.11'
  - '0.10'
before_install:
  - openssl aes-256-cbc -K $encrypted_9111b7576717_key -iv $encrypted_9111b7576717_iv -in config/default.json.enc -out config/default.json -d
